.skills-body h1 {
    text-align: left;
    margin-left: 10%;
    font-family: Arial, Helvetica, sans-serif;
}
.toolkit-break {
    border: none;
    height: 1px;
    background-color: black;
    width: 80%;
}
.skills-body {
    margin-top: 2em;
}
.do-best-section {
    background-color: #d8e9e8;
}
.skill-container {
    border: 1px solid rgb(129, 191, 191, 0.6);
    padding: 1em;
    background-color: #d8e9e8;
    z-index: 999;
}
.line-break {
    height: 1px;
    border: none;
    background-color: rgb(129, 191, 191, 0.6);
}
.skill-container h2 {
    text-align: center;
}
.skill-map-dev {
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}
.skill-map {
    font-size: 18px;
    font-weight: 500;
    
}

@media only screen and (max-width: 480px) {
    .skill-container {
        width: 83%;
        margin: 1em;
    }
}