.skills-body h1 {
    text-align: left;
    margin-left: 10%;
    font-family: Arial, Helvetica, sans-serif;
}
.skills-body {
    margin-top: 2em;
}
.skill-container {
    border: 1px solid rgb(191, 129, 129, 0.6);
    padding: 1em;
    background-color: rgb(191, 129, 129, 0.1);
    z-index: 999;
}
.skill-container h2 {
    text-align: center;
}
.skill-map-dev {
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}
.skill-map {
    font-size: 18px;
    font-weight: 500;
    
}
.code-icon {
    position: absolute;
    top: 50%;
    transform: scale(20);
    color: rgb(216, 233, 232, 0.6);
    z-index: 0;
}