.about-intro {
    font-size: 2em;
    font-weight: 700;
    padding: 3em 5em;
    box-shadow: 0 0 15px -10px gray;
    margin-bottom: 1em;
}

.seo-contain {
    width: 90%;
    margin-left: 5%;
}

.svg-icons {
    transform: scale(2.5);
    margin: 1.5em;
}
.icon-header {
    font-size: 22px;
    font-weight: 500;
}
.icon-body {
    margin: 1.5em;
    padding: 0px 15px;
}

.about-container {
    padding: 0em 4em 2em 4em;
}
.brand-statement {
    margin: 100px 0px;
}
.brand-statement p {
    padding: 0em 2em;
    font-size: 1.5em;
}

.self-image {
    border-radius: 25px;
    box-shadow: 0 2px 5px gray;
    height: 350px;
    width: 350px;
}
.bubble-icon {
    transform: scale(27);
    color: teal;
    position: absolute;
    top: 53%;
    left: 49%;
    opacity: 0.18;
  }
  .skills-cta {
    display: inline-block;
    border: 1px solid #bf8181;
    border-radius: 5px;
    text-decoration: none;
    padding: 8px 20px;
    color: black;
    font-weight: 500;
    font-size: 20px;
  }
  .skills-cta:hover {
    background-color: #bf8181;
    color: white;
    font-weight: 600;
    transform: scale(1.1);
  }
  .skills-cta-container {
    margin: 1em 0em;
  }

@media only screen and (max-width:480px) {
    .about-intro {
        padding: 1em 1em;
    
    }
    .bubble-icon {
        transform: scale(15);
        top: 25%;
        opacity: 0.15;
    }
    .about-container {
        padding: 0em 1em;
    }
    .self-image {
        height: 300px;
        width: 300px;
    }
    .brand-statement {
        margin: 20px 0px;
    }
}
@media only screen and (min-width:481px) and (max-width:768px) {
    .bubble-icon {
        transform: scale(10);
        top: 30%;
        left: 80%;
    }
    .self-image {
        height: 300px;
        width: 300px;
    }
    .brand-statement {
        margin: 0;
    }
    .brand-statement p {
        margin-left: 3em;
    }
}