.contact-lead-container {
    border: 1px solid rgb(130, 191, 191, 0.2);
    margin: 2em;
    border-radius: 15px;
    box-shadow:2px 2px 30px #d8e9e8;
}
.contact-sec-container {
    text-align: left;
}
.contact-col-left {
    margin: 5% 20%;
}
.contact-chat-para {
    font-size: 45px;
    font-weight: 600;
}
.contact-para-two {
    font-size: 24px;
    margin-top: 0.5em;
}
.contact-mailer {
    border: 1px solid #d8e9e8;
    border-radius: 5px;
    display: inline-block;
    padding: 5px 20px;
    margin-top: 1em;
}
.contact-mailer a {
    color: #3B6363;
    font-weight: 600;
}
.contact-mailer a:hover {
    color: rgb(130, 191, 191);
}
.contact-email {
    font-weight: 600;
}
.contact-img {
    opacity: 1;
    border-radius: 25px;
    width: 440px;
    height: 330px;
    margin: 2em 2em 0em 0em;
}

@media only screen and (max-width: 480px) {
    .contact-col-left {
        margin: 5% 5%;
    }
    .contact-chat-para {
        margin-bottom: 1em;
        font-size: 30px;
    }
    .contact-para-two {
        margin-bottom: 0.5em;
        font-size: 20px;
    }
    .contact-mailer {
        margin-left: 0.5em;
    }
    .contact-img {
        width: 90%;
        height: 90%;
        margin: 5%;
        opacity: 0.9;
    }
}
@media only screen and (min-width:481px) and (max-width:768px) {
    .contact-col-left {
        margin: 5% 0 5% 5%;
    }
    .contact-img {
        margin: 0;
        margin-top: 3em;
        width: 320px;
        height: 240px;
    }
}

@media only screen and (max-width: 280px) {
    .contact-para-two {
        font-size: 16px;
    }
    .contact-mailer {
        margin-left: 0em;
        padding: 5px 5px;
    }
    .contact-lead-container {
        margin: 0.5em;
    }
}