.social-links-container a {
    color: black;
}
.social-links-container a:hover {
    color: #81bfbf;
}
.social-links {
    margin: 12px;
}
.footer-right {
    width: 90%;
}
.footer-left {
    width: 90%;
    margin-left: 10%;
}
.footer-initial {
    width: 60%;
    margin-right: 25px;
}
.footer-head {
    font-size: 24px;
    font-weight: 600;
    /* color: rgb(129,191,191); */
}
.footer-para {
    margin-top: 2em;
    position: relative;
}
.mail-icon {
    position: absolute;
    left: 0;
}
.cell-icon {
    position: absolute;
    left: 0;
}
.icon-text {
    display: none;
}
@media only screen and (max-width:480px) {
    .footer-initial {
        width: 40%;
        margin-right: 5%;
    }
    .footer-left {
        margin: 1em;
    }
    .footer-left hr {
        width: 100%;
    }
    .social-links-container {
        padding-top: 5px;
    }
    .footer-head {
        margin-top: 1em;
    }
    .footer-right .footer-para {
        margin-right: 5%;
        margin-left: 12%;
    }
    .footer-right .footer-head {
        margin-left: 10%;
    }
    
}
@media only screen and (min-width:481px) and (max-width:768px) {
    .mail-icon {
        opacity: 0;
    }
    .cell-icon {
        opacity: 0;
    }
}