.nav-bar {
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    margin: 3em 0em 1em 0em;
}

.nav-bar a {
    color: black;
    font-weight: 600;
    text-decoration: none;
    padding: 2px;
}
.nav-bar a:hover {
    cursor: pointer;
    transform: scale(1.2);
    font-weight: 500;
    background-color: rgb(129,191,191, 0.2);
    border-radius: 5px;
}